body
{
    font-family: sans-serif;
    background-image: url("../img/bg/bg8.jpg");
}

#header
{
    font-size: 100px;
    width: 100%;
    text-align: center;
}

#footer
{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 10px;
}